<style>
#aside-post{
    position: fixed;
    right: 3%;
    max-height: 60%;
    top: 20%;
    overflow-y: auto;
    padding-right: 20px;
    background: white;
    max-width: 10%;
    z-index: 1;
}
 /* 美化滚动条 */
#aside-post::-webkit-scrollbar {
    width: 6px;
    height: 40px;
}
#aside-post::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
#aside-post::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}
#aside-post::-webkit-scrollbar-corner {
    background-color: transparent;
}
#aside-post::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}
#aside-post::-webkit-scrollbar-thumb:active {
    background-color: #999;
}
#aside-post li{
    
}
#aside-post li a {

}

</style>